<footer class="page-foot">
	<a href="/about"><span>About</span></a>
	<a href="/archive"><span>Archive</span></a>
	<a href="/rss"><span>Feed</span></a>
	<a href="https://github.com/teammixture/Neil-Blog"><span>Source</span></a>
	<span>ッ Built + Hosted = <a href="http://mixture.io">Mixture</a></span>
</header>