<footer class="page-foot">
	<a href="/about"><span>About</span></a>
	<a href="/archive"><span>Archive</span></a>
	<a href="/rss"><span>Feed</span></a>
	<span>ッ <a href="http://mixture.io">Mixture</a></span>
</footer>
