<header class="page-head">
	<a href="/" class="ident">{{ global.title }}</a>
	<p>{{ global.intro }}</p>
	<nav>
		<a href="http://twitter.com/{{ global.twitter }}" class="twitter">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16" width="20px" height="16px"><path class="icon" fill="#a3a3a3" d="M19.219 2.107c-1.211.622-2.248.61-2.248.61s1.326-.726 1.718-2.154c-1.613.922-2.501.944-2.501.944s-1.752-2.074-4.551-.887c-2.893 1.326-2.167 4.472-2.167 4.472s-4.621.173-8.124-4.114c-1.707 3.24 1.175 5.231 1.175 5.231s-.783.093-1.751-.46c.208 3.226 2.812 3.917 3.134 3.895-.991.276-1.728.115-1.728.115s.784 2.674 3.642 2.674c-2.881 2.327-5.785 1.658-5.785 1.658s5.761 4.195 12.33-.114c5.508-3.78 4.862-9.818 4.862-9.818s1.175-.738 1.994-2.052z"/></svg>
			<span class="twitter-txt">Twitter</span>
		</a>
	</nav>
</header>